*{
  margin: 0px;
  padding: 0;
}

body {
  background-color: grey;
  /* overflow: hidden; */
  display: grid;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* width: 100vh; */
}

.center-container {
  height: 600px;
  width: 400px;
  /* margin-left: 12px;  */
  /* border: 2px solid black; */
  /* border-radius: 20px; */
  padding: 10px;
  background: linear-gradient( #145277, #83d0cb );
}

.input-box-todo {
  width : 290px;
  height : 32px;
  border-radius: 15px ;
  padding-left: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

.app-heading {
  font-family: cursive;
}

.add-btn {
  margin-left: 0;
  width: 30px;
  height : 32px;
  border-radius: 50%;
  font-size: 20px;
  color : white;
  font-weight: bolder;
  background-color: blue;
}

.add-btn:hover {
  background-color: green;
  cursor: pointer;
}

.list-item {
  list-style-type :decimal;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: larger;
  color : white;
  margin: 0px;
  display: flex;
  justify-content: space-between;
  text-align: left;
}


.icons {
  color : black;
  text-align: end;
  justify-content: end;
}



.list-item .icons:hover {
  color : red;
  cursor : not-allowed;
}